<!-- function to print error on scream-->
{{#each errors}}
      <div class="alert alert-danger">{{text}}</div>
{{else}}
{{/each}}

<h3>Edit category:</h3>
<div class="card">
      <div class="card-body">
            <form action="/admin/categories/edit" method="POST">
                  <input type="hidden" name="id" value="{{doc._id}}">
                  <label for="name">Name: </label>
                  <input type="text" id="name" name="name" placeholder="Name of the category" class="form-control" value="{{doc.name}}">
                  <label for="slug">Slug: </label>
                  <input type="text" id="slug" name="slug" placeholder="Slug of the category" class="form-control" value="{{doc.slug}}">
                  <br>
                  <button type="submit" class="btn btn-success">Edit category</button>
            </form>
      </div>
</div>