<div class="bg-light p-5 rounded-lg mt4">
  <h1 class="display-4">Welcome</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <a class="btn btn-primary btn-lg" href="/users/register" role="button">Create account</a>
</div>

<hr>

<h2>Recent posts : </h2>

{{#each posts}}
<div class="card mt-4">
  <div class="card-body">
    <h3>{{posts.title}}</h3>
    <p>{{description}}</p>
    <a href="/posts/{{slug}}"><button class="btn btn-success">Read more</button></a>
    <hr>
    <small>Category : {{category.name}}</small>
    <br>
    <small>Publication date : {{date}}</small>
  </div>
</div>
{{else}}
{{/each}}