
{{#each posts}}
<div class="card mt-4">
    <div class="card-body">
      <h3>{{title}}</h3>
      <p>{{description}}</p>
      <a href="/posts/{{slug}}"><button class="btn btn-success">Read more</button></a>
      <hr>
      <small>Publication date : {{date}}</small>
  </div>
</div>
{{else}}
  <h5>No posts</h5>
{{/each}}